<nav class="col-md-2 d-md-block bg-light sidebar py-3">
    <ul class="nav flex-column gap-1 px-2">

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 rounded"
               href="/">
                📊 Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 rounded text-muted"
               href="#">
                💰 Cuadre diario
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 rounded
                        {% if request.resolver_match.app_name == 'cash_closing' %}active fw-semibold{% else %}text-muted{% endif %}"
                href="{% url 'cash_closing:income_list' %}">
                💰 Ingresos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 rounded"
               href="{% url 'purchases:purchase_list' %}">
                🛒 Compras
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 rounded"
               href="{% url 'purchases:purchase_pdf' %}">
                📄 Reporte
            </a>
        </li>

    </ul>
</nav>