<nav class="col-md-2 d-md-block bg-light sidebar py-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">📊 Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted">💰 Cuadre diario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted">🛒 Compras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted">📈 Reportes</a>
        </li>
        <li class = "nav-item">
            <a href="{% url 'purchases:purchase_list' %}"
            class = "nav-link">
            Compras
            </a>
        </li>
    </ul>
</nav>