{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-body">

            <h3 class="mb-4">
                Registrar compra
            </h3>

            <form method="POST">

                {% csrf_token %}

                {{ form|crispy }}

                <button class="btn btn-primary">

                    Guardar compra

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}